@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preserve a small set of global styles from the original project */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
